<h2><%= @band.name %></h2>

<% @band.albums.each do |album| %>
  <%= album.title %>
  <%= link_to 'View Tracks', album_url(album) %>
<br>
<% end %>
<br>
<%= link_to 'Edit band', edit_band_url %>
<br>
<%= link_to 'Delete band', band_url(@band), method: :delete %>
<br>
<%= link_to 'Add a new band', new_band_url %>
<br>
<%= link_to 'All Bands', bands_url %>
<br>
<%= link_to 'Add Album', new_band_album_url(@band) %>
